@font-face {
    font-family: 'Biennale Medium It';
    src: url('BiennaleMediumItRegular.woff2') format('woff2'),
        url('BiennaleMediumItRegular.woff') format('woff'),
        url('BiennaleMediumItRegular.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Biennale';
    src: url('BiennaleLightRegular.woff2') format('woff2'),
        url('BiennaleLightRegular.woff') format('woff'),
        url('BiennaleLightRegular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Biennale';
    src: url('BiennaleMediumRegular.woff2') format('woff2'),
        url('BiennaleMediumRegular.woff') format('woff'),
        url('BiennaleMediumRegular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Biennale Light It';
    src: url('BiennaleLightItRegular.woff2') format('woff2'),
        url('BiennaleLightItRegular.woff') format('woff'),
        url('BiennaleLightItRegular.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Biennale It';
    src: url('BiennaleItRegular.woff2') format('woff2'),
        url('BiennaleItRegular.woff') format('woff'),
        url('BiennaleItRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Biennale';
    src: url('BiennaleSemiBoldRegular.woff2') format('woff2'),
        url('BiennaleSemiBoldRegular.woff') format('woff'),
        url('BiennaleSemiBoldRegular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Biennale';
    src: url('BiennaleBoldRegular.woff2') format('woff2'),
        url('BiennaleBoldRegular.woff') format('woff'),
        url('BiennaleBoldRegular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Biennale Black It';
    src: url('BiennaleBlackItRegular.woff2') format('woff2'),
        url('BiennaleBlackItRegular.woff') format('woff'),
        url('BiennaleBlackItRegular.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Biennale SemiBold It';
    src: url('BiennaleSemiBoldItRegular.woff2') format('woff2'),
        url('BiennaleSemiBoldItRegular.woff') format('woff'),
        url('BiennaleSemiBoldItRegular.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Biennale';
    src: url('BiennaleRegular.woff2') format('woff2'),
        url('BiennaleRegular.woff') format('woff'),
        url('BiennaleRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Biennale Book It';
    src: url('BiennaleBookItRegular.woff2') format('woff2'),
        url('BiennaleBookItRegular.woff') format('woff'),
        url('BiennaleBookItRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Biennale';
    src: url('BiennaleBlackRegular.woff2') format('woff2'),
        url('BiennaleBlackRegular.woff') format('woff'),
        url('BiennaleBlackRegular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Biennale Bold It';
    src: url('BiennaleBoldItRegular.woff2') format('woff2'),
        url('BiennaleBoldItRegular.woff') format('woff'),
        url('BiennaleBoldItRegular.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Biennale Book';
    src: url('BiennaleBookRegular.woff2') format('woff2'),
        url('BiennaleBookRegular.woff') format('woff'),
        url('BiennaleBookRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }